{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">Sửa Thể loại</div>
            <div class="card-body">
                <form action="{{ url_for('update_category', id=category.id) }}" method="POST">
                    <input type="text" name="name" class="form-control mb-3" value="{{ category.name }}" required>
                    <button class="btn btn-primary">Lưu</button>
                    <a href="{{ url_for('manage_page') }}" class="btn btn-secondary">Hủy</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}